<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <ul>
        <% allItems.map((item,index)=>{
            if(index==0) index=1
            %>
            <li>Item <%= item.item_id %></li>
            <li><%= item.item_name %></li>
            <button> <a href="/items/<%= index %>">Detail</a></button>
            <hr>
            <%
        })

        %>
    </ul>
    <form action="/items/new" method="get">
        <button type="submit">Add Item</button>
    </form>
</body>
</html>